@using System.Security.Claims

@{
    var email = User.FindFirst(ClaimTypes.Email)?.Value;
    var givenName = User.FindFirst(ClaimTypes.Name)?.Value;
}

<head>
    <script src="https://kit.fontawesome.com/b9c4551277.js" crossorigin="anonymous"></script>
</head>

<style>
    .container {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .second-container {
        margin-top: 40px;
    }

    .mini-gap {
        margin-top: 10px;
        display: block;
    }

    .user-info {
        font-size: 20px;
    }
</style>

<div class="container">
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-info">
            @ViewData["Message"]
        </div>
    }

    <!-- Typical User Information -->
    <div class="second-container">
        <i class="fa-solid fa-circle-user fa-10x"></i>
        <div class="user-info">
            <div>Name: @givenName</div>
            <div>Email: @email</div>
        </div>
    </div>

    <!-- Here put the changing part (Update password (or not?)) -->
    <div class="second-container">
        <h3>
            Do you want to update your password?
        </h3>
        <form method="post">
            <!-- Compare with current with inputted -->
            <div class="mini-gap">
                <label style="display: block;" for="oldPass">Enter Your Current Password</label>
                <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="oldPass" name="oldPass" placeholder="Enter your old password" required>
            </div>
            <!-- Change password area -->
            <div class="form-group" style="margin-top: 10px;">
                <label style="display: block;" for="newPass">Enter your new password</label>
                <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="newPass" name="newPass" placeholder="Enter your new password" required>
                <small style="display: block; font-size: 8px;">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small>
            </div>

            <div class="mini-gap">
                <button type="submit" class="btn btn-warning">Update Password</button>
            </div>
            
        </form>

         <div class="mini-gap">
                <button type="submit" class="btn btn-danger" onclick="closeAccount()" >Delete Account</button>
            </div>
    </div>
</div>


@section Scripts{

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>
     function closeAccount() {
        if (confirm('Are you sure you want to close this account?')) {
                $.ajax({
                    url: '@Url.Action("closeAccount", "Account")',
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            location.replace(window.location.origin);
                            alert("Account was successfully closed");

                        } else {
                            alert("Failed to update account");
                        }
                    },
                    error: function () {
                        alert('Error occurred while deleting account.');
                    }
                });
            }
        }

    </script>
}